body{
    font-family: 'Open Sans', sans-serif;
   
    line-height: 1.5;
    color: #0afdd8;
    background-color:   #1d1d1d;

    
}
#terminal{
    width: 100%;
    height: 100%;
    background-color: #1d1d1d;
    color: #58da54;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    padding: 10px;
    overflow: auto;
}
